<h1>TRAJET</h1>

  <%= link_to "Index", root_path %>

  <div class="venir">
  <h2>Je viens en </h2>
  </div>

  <div class="cards-page-trajet">
    <div class="card-category">
      <%= link_to new_train_path do %>
        <i class="fa-solid fa-car"></i>
      <% end %>
    </div>
    <div class="card-category">
      <%= link_to new_voiture_path do %>
        <i class="fa-solid fa-train-subway"></i>
      <% end %>
    </div>
  </div>

  <%= link_to trains_path do %>
    <p>Tous les trajets en train (index)</p>
  <% end %>

  <%= link_to voitures_path do %>
    <p>Tous les trajets en voiture (index)</p>
  <% end %>
