  <div class="form-trajet">
      <%= simple_form_for(@food, data: {turbo: false}) do |f| %>
        <%= f.input :contraintes, collection: ["Non", "Allergies", "Végératien", "Vegan"], label: "As-tu des contraintes alimentaires ?" %>
        <%= f.input :bring, label: "Que vas-tu nous ramener de bon?" %>
        <%= f.input :quantites, label: "Pour combien de personnes (environ)?" %>
        <%= f.button :submit, class: "btn-submit-form", value: "Confirmer"%>
      <% end %>
  </div>
