  <div class="form-trajet">
    <h2>Je viens en voiture</h2>
      <%= simple_form_for(@voiture, data: {turbo: false}) do |f| %>
            <%= f.input :nom %>
            <%= f.input :ville %>
            <%= f.input :lieu_rdv %>
            <%= f.input :nb_place %>
            <%= f.input :date_aller, as: :date, html5: true %>
            <%= f.input :heure_aller, as: :time, html5: true %>
            <%= f.input :date_retour, as: :date, html5: true %>
            <%= f.input :heure_retour, as: :time, html5: true %>
            <%= f.button :submit%>
      <% end %>
  </div>
