<div class="all-cards">
  <% @voitures.each do |voiture| %>
      <div class="cards-trajet">
        <ul><%= voiture.nom %></ul>
        <ul><%= voiture.ville %></ul>
        <ul><%= voiture.lieu_rdv %></ul>
        <ul><%= voiture.nb_place %></ul>
        <ul><%= voiture.heure_aller %></ul>
        <ul><%= voiture.date_aller %></ul>
        <ul><%= voiture.heure_retour %></ul>
        <ul><%= voiture.date_retour %></ul>
        <br> <br>
      </div>
    <% end %>
  </div>
